@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, Courier, monospace;
    font-style: bold;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    background-color: #2f363e;
}
.outputCard{
    position: relative;
    box-shadow: 25px 25px 75px rgba(0,0,0,0.25),
    10px 10px 70px rgba(0,0,0,0.25),
    inset 5px 5px 10px rgba(0,0,0,0.5),
    inset 5px 5px 20px rgba(255,255,255,0.2),
    inset -5px -5px 15px rgba(0,0,0,0.75);
    font-size: 24px;
    font-weight: 400;
    border: none;
    padding: 18px;
    width: 252px;
    border-radius: 12px;
    margin: 0 60px 40px 0px;
    height: 182px;   
    color: #a3a3a3;
}
.searchContainer{
    position: relative;
    width: 100%;
    height: 180px;
    display: flex;
    margin-bottom: 0px;
    justify-content: center;
    align-items: center;
}
.searchContainer input{
    position: relative;  
    width: 50%;
    height: 60px;
    background-color: #2f363e;
    border: none;
    padding: 10px 50px;
    outline: none;
    font-size: 1.1em;
    color: #a3a3a3;
    border-radius: 12px;
    box-shadow: 25px 25px 75px rgba(0,0,0,0.25),
    10px 10px 70px rgba(0,0,0,0.25),
    inset 5px 5px 10px rgba(0,0,0,0.5),
    inset 5px 5px 20px rgba(255,255,255,0.2),
    inset -5px -5px 15px rgba(0,0,0,0.75);
}
button{
    position: absolute;
    right: 26.5%;
    color: #a3a3a3;
    font-size: 2em;
    font-style: bold;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: 0.5s;
}
button:hover{
    text-shadow: 0 0 10px #ffffff,
                 0 0 20px #ffffff;
    

}
img{
    position: absolute;
    width: 100px;
    left: 80px;
}
span{
    width: 10px;
    height: 120px;
    margin-top:28px;
    border-radius: 4px 0 0 4px;
}

.outputContainer{
    margin: 56px 0px 0px 0px;
    display: flex;
    justify-content: center;
    padding-left: 50px;
    flex-wrap: wrap;
    height: auto;
}
.lable{
    font-weight: 500;
}
.output{
    font-size: 52px;
    font-weight: 400;
    text-align: end;
    margin: 26px 0 0px 0;
    padding: 20px;
}

@media screen and (max-width:600px) {
    .outputCard{
        width: 300px;
        font-size: 30px;
        margin: 0 0 40px 0;
        height: 220px;
    }
.outputContainer{
    width: 100%;
    padding-right: 22px;
    margin-top: 18;
    }
input {  
    width: 80%;    
    margin-left: 2%;
    }
.output{
    font-size: 80px;
    margin: 50px 0 0 0;
    padding: 0px 16px 0 0;   
}
button{
    width: 14%;
}
.searchContainer{
    margin-top: 30px;
    height: 40px;
}
span{
    display: none;
}
}

